.chamber-cover{
    height:100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color: rgb(243, 107, 186)
}

.jumbotron.bg-cover h1{
    font-size: 80px;
    color: white;
}