.chamber-cover{
    height:100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color: rgb(247, 157, 209)
}

.jumbotron.bg-cover h1{
    font-size: 80px;
    color: white;
}



.chamberpage .homebtn{
    position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-0%, -50%);
  background-color: goldenrod;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}