body{
    background-color: rgb(217, 237, 250)
}

header{
    text-align: center;
    margin-top: 50px;
    font-size: 70px;
    margin-bottom: 50px;
    color: white;
    text-shadow: #343a40 4px 4px 4px ;
}

