body{
    background-color: rgb(198, 194, 240)
}

header{
    text-align: center;
    margin-top: 50px;
    font-size: 70px;
    margin-bottom: 50px;
    color: white;
    text-shadow: #343a40 5px 5px 5px ;
}

.col-lg-4.col-md-6.mb-4{
    margin-left: 100px
}